
body {
  background: #f3f5fc;
  box-sizing: border-box; /*para que las cajas no se desborden unas con otras*/
  flex-wrap: wrap;

}
.alin{
  padding: 2% 6% 0% 6%;
}
.bloque {
  padding: 0% 5% 0% 5%;
 /* border: 2px solid red;*/
  display: flex;


}
/*Estilo el cuadro de texto*/
.Tam_text {
  flex-flow: row nowrap; /*Colocamos los cuadro uno a la par de otro siempre que esten declarados de mejor manera*/
  /*background-color: red;   */
  box-shadow: 0px 24% 32% -8% rgba(0, 0, 0, 0.08);
  /*border:1px solid;*/
  width: 80%;
  height: 50em;
  border-radius: 32px;
}
/*Agregamos estilos al texto interno del input*/
.input_text::placeholder {
  font-family: "Poppins", sans-serif;
  color: #0a3871;
  opacity: 0.8;
}
.Texto_Encrit {
  flex-flow: column nowrap;
  background: #ffffff;
  box-shadow: 0px 24% 32% -8% rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  width: 30%;
  height: 50em;
  /*border: 1px solid;*/
 /* width: 400px;
  height: 830px;*/
}
.Form_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #495057;
  opacity: 0.9;
}
.Form_text {
  /*border: 3px solid red;*/
  align-items: center;
}
/*Estilo al cuadro de texto*/
.input_text {
  background: #f3f5fc;
  /*border: 2px solid;*/
  border: none;
  resize: none;
  width: 80%;
  height: 550px;

  border-radius: 20px;
  font-size: 40px;

  color: #0a3871;
}
/*Se activa cuando el usuario da clic en el elemento la funcion outline quita el borde al momento de precionar*/
.input_text:focus {
  outline: none;
}
/*Estilos para la imagen*/
.mun_img img{
  width: 100%;

}
/*Estilos para Imgen en encriptado*/
.mun_img .Mensaje .Mensaje2 {
  /*border: 2px solid ;*/
  align-items: center;
}
.Mensaje {
  margin: 20px;
  /*  border: 2px solid rebeccapurple; */
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #343a40;
  align-self: stretch;
  font-weight: bold;
}
.Mensaje2 {
  margin: 20px;
  /*border: 2px solid green;*/
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
}
.Cont_text_img {
  margin-top: 50%;
  /* border: 2px solid red;*/
}
/*Estilos para los botones */
.boton {
  border: 2px solid white;
  border-radius: 20px;
  width: 35%;
  height: 70%;
  font-size: 20px;

}


.inf_txt {
  padding-top: 8%;
  padding-left: 20%;
  position: relative;
  align-items: center;
  height: 90px;
 /* border: 3px solid red;*/
    
}
/*Objeto de mostrar cuando el usuario obtenga un encriptado*/
.Cont_text{
    display: none;
margin-top: 0;
 /*border: 2px solid;*/
}
.label_text{
   
    align-items: center;
    border: none;
    outline: none;
    width: 100%; 
 /*border: 2px solid blue;*/

}
.Texto_Encrit .boton{
width: 85%;
  height: 65px;
}


.label{
    margin: 20px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 20px;
    height: 620px;
    width: 85%;
    font-family: "Poppins", sans-serif;
    color: #0a3871;
    font-size: 25px;
    background: #ffffff;
   /* border: 2px solid red;*/
}

.Cp_text{
/* border: 2px solid red;*/
    margin: 20px;
    /*border: 2px solid green;*/
    font-family: "Poppins", sans-serif;
    text-align: center;
}
/*Contacto con el programador*/
.Contacto {
  padding: 0% 6% 2% 6%;
  align-items: center;
  text-align: center;
 /* border: 1px solid;*/
  font-family: "Poppins", sans-serif;
  color: #0a3871;
  font-size: 20px;
}
.Contacto div {
  /* border: 2px solid;*/

}
.linkedin{
 /* border: 2px solid blue;*/
  width: 50px;
  height: 50px;
  color: #0a3871;

  
}
.github{
 /*border: 2px solid red;*/
  width: 50px;
  height: 50px;
  color: #0a3871;

}

/*MEDIA*/

@media (max-width:1304px){
body{
/*  background-color: blue  ;*/
}
.Texto_Encrit{
  box-shadow: 0px 24% 32% -8% rgba(0, 0, 0, 0.08);
  height: 510px;
}
.Tam_text{
  height: 29em;
}
.inf_txt{
  padding-top: 2%;
}
.Cont_text_img {
  margin-top: 30%;}
.input_text{
  height: 350px;
}
.label_text{
  
}
.label{
  height: 50%;

}
.Contacto{
  padding: 4.5% 6% 2% 6%;
}
.Mensaje {
  margin: 0px;
}
.Texto_Encrit .boton{
  width: 85%;
    height: 65px;
    margin: -11%;
  }


}
@media (max-width:768px){
  body{
   /* background-color: red;*/
  }
  .bloque{
    display: grid;
  }
  .input_text {
    height: 350px;
    width: 100%;
    padding: 0% 10% 0% 10%;
}
.inf_txt{
  width: 100%;
  display: flex;
  padding: 0% 15% 0% 15%;
}
.boton{
  width: 50%;
  margin: 0% 4% 0% 0%;
  height: 65px;


}
.Texto_Encrit{
  margin-top: 15%;
  width: 100%;
  height: 100%;
}
.mun_img img {
  display: none;
  width: 100%;
}
.Cont_text_img {
  margin-top: 15%;
}

element.style {
  display: block;
}

.Cont_text_img {
  margin-top: 15%;
}
.Contacto{
  margin-top: 10%;
}


}







@media (max-width:412px){
  body{
    background-color: blueviolet;
  }
  .inf_txt {
    padding-top: 2%;
    width: 100%;
    padding-top: 0%;
    display: block;
}

  .bloque{
    display: block;
  }
.boton{
  width: 100%;
  margin-top: 4%;
}
.Cont_text_img{
height: 200px;
    margin-top: 50%;
}
.Texto_Encrit{
  margin-top: 45%;
}
.label{
  height: 220px;
}
.Texto_Encrit .boton{
  width: 83%;
  margin: 10%;
  height: 50px;
}

.Cp_text{

}
}

  


